        body {
            font-family: 'Manjari', sans-serif;
            margin: 0;
            padding: 0;
        }

        .contenedor {
            background-color: rgb(248, 248, 248);
            padding: 20px;
        }

        .lista {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .lista li {
            display: inline-block;
            margin-right: 10px;
            padding: 10px;
            background-color: rgb(248, 248, 248);
            color: #000000;
            font-size: large;
            cursor: pointer;
            transition: background-color 0.3s ease;
            border-radius: 6px;
        }

        .lista li:hover {
            background-color: #86a2e0;
        }