body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
}

.container {
  border-radius: 4px;
}

h1 {
  text-align: left;
  margin-left: 20%;
}

.tabla {
  padding: 3rem;
  margin: 1%;
  border-radius: 4px;
  text-decoration: none;
  margin-left: 5%;
}

.tabla button {
  border-radius: 4px;
  color: #FFF;
  background: rgb(124, 18, 18);
  border: none;
  transition: background-color 0.5s;
  padding: auto;
  margin-top: 5px;
  height: 90%;
  width: max-content;
}

.tabla button:hover {
  color: #FFF;
  background: red;
  cursor: pointer;
}

.tabla thead tr td {
  margin: 2%;
  padding: 0.5rem;
  text-transform: uppercase;
  border-radius: 4px;
}

table {
  border-radius: 4px;
}

.login {
  margin-top: 180px;
  margin-left: 5%;
  width: 350px;
  height: 750px;
  background: #000;
  color: #FFF;
  top: 50%;
  left: 75%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius: 10px;
}

.login label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.login input {
  width: 100%;
  margin-bottom: 20px;
}

.login input[type="text"],
.login input[type="password"] {
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  outline: none;
  height: 40px;
  color: white;
  font-size: 16px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login button {
  border: none;
  outline: none;
  height: 40px;
  background: rgb(160, 17, 17);
  font-size: 18px;
  border-radius: 20px;
  color: #FFF;
  transition: background-color 0.5s;
}

.login button:hover {
  color: #FFF;
  background: red;
  cursor: pointer;
}

.login a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgray;
}

.login a:hover {
  color: white;
}
