<html lang="es">
<div class="container">
  <h1>GESTOR DE USUARIOS</h1>
  <div class="tabla">
    <table style=" border:0px; box-shadow:3px 3px 5px 4px rgba(0,0,0,0.25);">
      <thead class="thead-dark" style="background:black; color:white;">
        <tr>
          <td>IDENTIFICACION</td>
          <td>NOMBRE</td>
          <td>APELLIDO</td>
          <td>NUMERO</td>
          <td>CORREO</td>
          <td>DIRECCION</td>
          <td>Acciones</td>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of usuarios">
          <td>{{user.id_cliente}}</td>
          <td>{{user.nombre_cliente}}</td>
          <td>{{user.apellido_cliente}}</td>
          <td>{{user.telefono_cliente}}</td>
          <td>{{user.correo_cliente}}</td>
          <td>{{user.direccion_cliente}}</td>
          <div class="botones">
            <td><button class="btn btn-danger text-white" (click)="Eliminar(user.id_cliente)">Borrar</button>&nbsp;<button
                class="btn btn-info text-white" (click)="Seleccionar(user.id_cliente)">Seleccionar</button></td>
          </div>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #sinarticulos>
    <p>No hay articulos.</p>
  </ng-template>

  <div class="login">
    <h1>gestionar usuario</h1>
    <p>
      Nombre <input type="text" class="form-control m-1" type="text" [(ngModel)]="usuario.nombre_cliente"
        placeholder="namaewa esponje bobu">
    </p>
    <p>
      Identificacion <input type="text" class="form-control m-1" type="text" [(ngModel)]="usuario.id_cliente"
        placeholder="square pantsu">
    </p>
    <p>
      Apellido <input type="text" class="form-control m-1" type="text" [(ngModel)]="usuario.apellido_cliente"
        placeholder="square pantsu">
    </p>
    <p>
      Numero <input maxlength="13" type="tel" class="form-control m-1" type="text"
        [(ngModel)]="usuario.telefono_cliente" placeholder="+569 3844 6175">
    </p>
    <p>
      Correo <input type="email" class="form-control m-1" type="text" [(ngModel)]="usuario.correo_cliente"
        placeholder="shikamaru.nara@gmail.com">
    </p>
    <p>
      Direccion <input maxlength="50" type="text" class="form-control m-1" type="text"
        [(ngModel)]="usuario.direccion_cliente" placeholder="direccion">
    </p>
    <div class="row">
      <div class="col-sm-2 ">
        <p><button class="btn btn-outline-dark float-left" (click)="Agregar()">Agregar</button></p>&nbsp;
      </div>
      <div class="col-sm-2 offset-md-2">
        <p><button class="btn btn-outline-dark float-right" (click)="Modificar()">Modificar</button></p>
      </div>
    </div>

  </div>
</div>

</html>