<!DOCTYPE html>
<html lang="es">
<body>
    <div class="login">
      <h1>{{tituloLogin}}</h1>
      <form action="">
          <label for="username">Usuario</label>
          <input type="text" placeholder="Ingrese usuario">

          <label for="password">contraseña</label>
          <input type="password" placeholder="Ingrese contraseña">

          <input type="submit" value={{comentario}}>
          <a href="#">Olvidé mi contraseña</a><br>
          <a href="#">{{noCuenta}}</a>
      </form>  
    </div>
</body>
</html>