<html lang="es">
<div class="container">
  <h1>GESTOR DE PROVEEDORES</h1>
  <div class="tabla">
    <table style=" border:0px;">
      <thead class="thead-dark" style="background:rgb(112, 112, 112); color:white;">
        <tr>
          <td>IDENTIFICACION</td>
          <td>NOMBRE</td>
          <td>DIRECCION</td>
          <td>TELEFONO</td>
          <td>WEB</td>
          <td>Acciones</td>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prove of proveedores">
          <td>{{prove.id_proveedor}}</td>
          <td>{{prove.nombre_proveedor}}</td>
          <td>{{prove.direccion_proveedor}}</td>
          <td>{{prove.telefono_proveedor}}</td>
          <td>{{prove.web_proveedor}}</td>
          <div class="botones">
            <td><button class="btn btn-danger text-white" (click)="Eliminar(prove.id_proveedor)">Borrar</button>&nbsp;<button
                class="btn btn-info text-white" (click)="Seleccionar(prove.id_proveedor)">Seleccionar</button></td>
          </div>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #sinarticulos>
    <p>No hay articulos.</p>
  </ng-template>

  <div class="login">
    <h1>gestionar proveedor</h1>
    <p>
      Nombre <input type="text" class="form-control m-1" type="text" [(ngModel)]="proveedor.nombre_proveedor"
        placeholder="namaewa esponje bobu">
    </p>
    <p>
      Identificacion <input type="text" class="form-control m-1" type="text" [(ngModel)]="proveedor.id_proveedor"
        placeholder="square pantsu">
    </p>
    <p>
      Telefono <input maxlength="13" type="tel" class="form-control m-1" type="text"
        [(ngModel)]="proveedor.telefono_proveedor" placeholder="+569 3844 6175">
    </p>
    <p>
      web <input type="web" class="form-control m-1" type="text" [(ngModel)]="proveedor.web_proveedor"
        placeholder="web.com">
    </p>
    <p>
      Direccion <input maxlength="50" type="text" class="form-control m-1" type="text"
        [(ngModel)]="proveedor.direccion_proveedor" placeholder="direccion">
    </p>
    <div class="row">
      <div class="col-sm-2 ">
        <p><button class="btn btn-outline-dark float-left" (click)="Agregar()">Agregar</button></p>&nbsp;
      </div>
      <div class="col-sm-2 offset-md-2">
        <p><button class="btn btn-outline-dark float-right" (click)="Modificar()">Modificar</button></p>
      </div>
    </div>

  </div>
</div>

</html>